body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: #333;
}

/* Input Fields */
input, select, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

/* Scanner Box */
#scannerBox {
    display: none;
    position: fixed;
    inset-block-end: -100%;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 50vh;
    background: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease-in-out;
    text-align: center;
    padding: 20px;
}

#scannerBox.active {
    inset-block-end: 0;
}

/* Scanner Video */
#scannerVideo {
    inline-size: 100%;
    max-block-size: 40vh;
}
