body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#logo {
    inline-size: 350px;
}

h2 {
    color: #333;
    font-size: 30px;
}

input{
    padding:10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border-color:#007bff ;
    color: white;
    background-color:#007bff;
    cursor: pointer;
}

#ProvinceSelect{
    padding: 10px;
    border-radius: 5px;
    background-color:floralwhite;
    border-color: floralwhite;
}

#validationResult {
    font-size: 18px;
    font-weight: bold;
}

#barcodeScanner, #qrScanner {
    inline-size: 100%;
    max-inline-size: 400px;
    margin: auto;
}

footer{
    margin: 30px;
    font-style:italic;
    font-weight: bold;
    font-family: cursive;
    font-size: large;
}

